---
layout: default
title: yvlonge's blog
---


<ul class="listing">
{% for post in site.posts %}
  {% capture y %}{{post.date | date:"%Y"}}{% endcapture %}
  {% if year != y %}
    {% assign year = y %}
    <li class="listing-seperator">{{ y }}</li>
  {% endif %}
  <li class="listing-item">
    <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
    <time datetime="{{ post.date | date:"%Y-%m-%d" }}" align=right>{{ post.date | date:"%Y-%m-%d" }}</time>    
  </li>
{% endfor %}
</ul>